body
{
 height:100%; 
 max-height:100%; 
}

header 
{
 max-height:15%;
 width:100%;
 overflow:hidden;
 background-color:black;
 border-radius:5px;
}

#logo
{
 padding:10px;
 float:left;
 margin-left:40px;
}

a
{
 text-decoration:none;
}

h1
{
 color:gray;
}

h1:hover
{
 color:white;
}

.logout
{
 color:gray;
 margin-top:30px;
 margin-right:40px;
}

button
{
 font-size:20px;
 font-family:Times New Roman;
 cursor:pointer;
 border-radius:5px;
 border-color:black;
 background-color:black;
 color:gray;
}

button.logout_button:hover
{
 color:white;
}

.innertube
{
 float:right;
}

.nametube
{
 color:gray;
 padding:10px;
 margin-left:1000px;
}

main
{
 min-height:70%;
 width:100%;
 background-color:white;
}

.formstyle
{
 position:relative;
 top:10px;
 width:300px;
 background-color:white;
 height:36%;
 font-size:18px;
 margin-top:100px;
}

.adjust
{
 margin-left:56px;
}

.labels
{
 float:left;
}

.floattype
{
 float:left;
}

input[type=text],select
{
 border:1px solid #ccc;
 border-radius:5px;
 height:30px;
 font-size:15px;
 text-indent:5px;
} 

input[type=password],select
{
 border:1px solid #ccc;
 border-radius:5px;
 height:30px;
 font-size:15px;
 text-indent:5px;
} 


.pwd
{
 border:0px solid #ccc;
 font-size:18px;
 cursor:pointer;
 border-radius:5px;
 background-color:white;
 height:30px;
 color:black;
 float:left;
}

button.pwd:hover
{
 background-color:#E9EBEE;
 color:black;
}

footer
{
 max-height:15%;
}
